
h1{
    text-align: center;
    text-decoration: underline;

    
}
p{
    text-align: center;
    color: rgb(27, 7, 179);
    font-size: 23px;
    
}
img{
    margin-left: 35px;
    width: 320px;
    height: 430px;
}
    